{% extends "base.html" %}
<!--Note the use of the keyword extends again.
    This makes it easier for us to create the template from scratch,
    while also maintaining some sort of basic similar theme
    between the different templates.-->

{% block content %}
<!--This keyword is actually called out in base.html. This is where
    the derived template (login.html, in this case) can insert itself.-->

    <h1>Sign in</h1>
    <form action="" method="post" novalidate>
        <!--
            The HTML <form> element is used as a container for the web form.
            
            The action attribute of the form is used to tell the browser
            the URL that should be used when submitting the information
            the user has entered. When the action argument is set to an empty
            string, the form is submittted to the URL that is currently in the
            address bar, which is the URL that rendered the form on the page.
            
            The method attribute specifies the HTTP request method that should
            be used when submitting the form to the server. The default is to
            send it with a GET request, but in almost all cases, POST is better.
            This is because POST requests submit the form data in the body of
            the request, instead of adding it to the URL as GET requests do.
            It's just a matter of clutter.

            The novalidate attribute is used to tell the browser not to apply
            validation to the fields in this form, which leaves this task
            to the Flask application running in the server. We include this
            optional parameter to practice server-side validation later in this
            chapter.

            The form.hidden_tag() template argument generates a hidden field
            that includes a token used to protect the form against CSRF attacks.
            All we need to do to be protected is to include the hidden field,
            and have the SECRET_KEY variable defined in the .flaskenv Flask
            configuration file. Flask-WTF will take care of the rest.

            The fields from the form object know how to render themselves as
            HTML. We just needed to include the [[ form.<field_name>.label ]]
            where we wanted the field label, and [[ form.<field_name>() ]]
            where we wanted the field itself.
            
            For fields that require additional HTML attributes, those can be
            passed as arguments. The username and password fields in this
            template take the size as an argument that will be added to the
            <input> HTML element as an attribute. Take note that this is also
            how we can attach CSS classes or IDs to form fields.
        -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32)}}
            <!--Here, we're gonna add the validation.-->
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{form.remember_me.label}}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

<!--
    The only change we have made is to add for loops right after the username
    and password fields that render the error messages, added by the validators
    in red color.

    As a general rule, any fields that have validators attached will have any
    error messages that result from validation added under
    form.<field_name>.errors. form.username.errors and form.password.errors
    are good examples. form.<field_name>.errors will return a list, because
    fields can have multiple validators attached, and more than one might be
    providing error messages to display to the user.

    If we try to submit the form now with an empty username or password,
    we get an error message, instead of the page returning a 404.
-->

<!--This template expects a form object instantiated from the LoginForm
    class to be given as an argument, which you can see referenced as
    form. This argument will be sent by the login view function, which
    at this point still has not been written.-->



<!--Now that the template has been created, the final step before we can see
    this form in the browser is to code a new view function in the application
    that renders the template.

    We write a new view function mapped to the /login URL that creates a form.
    and passes it to the template for rendering.

    This view function will go in the app/routes.py module.
-->

